Flask==3.1.1
flask-limiter==3.12
pandas==2.2.2
mplfinance==0.12.10b0
matplotlib==3.10.3
gunicorn==23.0.0
numpy==1.26.4
SQLAlchemy==2.0.41
pytz==2025.1
python-dateutil==2.9.0.post0
requests==2.32.3
Flask-Session==0.6.0
redis==6.2.0
bcrypt==4.0.1
awscli==1.35.21
boto3==1.35.55
beautifulsoup4==4.12.2
yfinance==0.2.36